@use "variables" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: $bg-color;
  color: $text-color;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

p {
  font-size: 1.05rem;
  color: #4b5a55;
}

#app {
  max-width: $max-width;
  margin: auto;
  padding: 1rem;
}
